:host {
  display: block;
  overflow-y: scroll;
  height: 100%;
}

#imagesHeaderEl {
  position: sticky;
  top: 0;
  z-index: 999;
}

#noImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagesHeaderEl ion-toolbar {
  --background: #ffffff70;
  backdrop-filter: blur(10px);
}

#buttonBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-searchbar#imageBar {
  margin-top: 2em;
}

#mainDiv ion-title {
  color: #1976d2;
}

@media (min-width: 1200px) {
  ion-searchbar#imageBar {
    width: 22em;
    margin-left: 1.4em;
  }

  #imageList {
    margin: 2em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }

  #imageBlock {
    width: 24em !important;
  }
}

#imageColors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  margin-top: 10px;
}

#imageColors .colors {
  color: white;
  border-radius: 24px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  margin-right: 12px;
}

#colorsP,
#tagsP {
  margin-right: 10px;
  font-weight: bold;
  margin-left: 5px;
}

#colorsP {
  margin-top: 2px;
  margin-bottom: 0;
}

#mainDiv {
  overflow-y: scroll;
}

h2 {
  text-align: center;
}

#imageList {
  margin: 2em;
}

#imageList img {
  max-height: 250px;
  object-fit: contain;
  max-width: 372px;
}

#imageList ion-card {
  max-width: 373px;
}

#imageBlock {
  padding-left: 16px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  height: 24em;
  margin-bottom: 2em;
  animation-name: bounceInUp;
  animation-duration: 600ms;
}

#loadingContent {
  height: 16em;
}

#imageFileList {
  margin: 2em;
  margin-left: 6em;
  margin-right: 6em;
}

@keyframes bounceInUp {
  0% {
     opacity: 0;
     transform: translateY(800px);
  }
  60% {
     opacity: 1;
     transform: translateY(-30px);
  }
  80% {
     transform: translateY(10px);
  }
  100% {
     transform: translateY(0);
  }
} 

#imageBlock img {
  width: 100%;
  height: 12em;
}

#imageBlock #titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

#imageBlock #titleBlock h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#imageBlock #titleBlock ion-button {
  font-size: 20px;
}

#segmentToolbar {
  padding-left: 12em;
  padding-right: 12em;
  margin-top: 1em;
}

#buttonBlock {
  display: flex;
  position: sticky;
  top: 0;
  background: white;
  z-index: 9999;
  height: 3em;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

#buttonBlock button {
  background: none;
  border: none;
  font-size: 1.4em;
}

#bottomSection {
  margin-top: 1em;
  /* height: 9em; */
  margin-right: 12px;
}

#imageTags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}


#imageTags .imageTag {
  background: #b3b3b3;
  color: white;
  border-radius: 24px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 6px;
  font-weight: bold;
  margin-right: 12px;

  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 6em;
  height: 1.6em;
  display: flex;
  align-items: center;
  padding-top: 0;
}


@media (max-width: 600px) {
  #imageList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #imageList ion-card {
    width: 100%;
  }

  #imageBlock {
    margin: 16px;
    width: initial;
  }

  #segmentToolbar {
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1em;
  }
}

#imageTags::-webkit-scrollbar { 
  width: 0 !important;
}