#foldImageList {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  margin: 5px;
}

#foldImageList img {
  max-height: 250px;
  object-fit: contain;
  max-width: 372px;
}

#foldImageList ion-card {
  max-width: 373px;
}

#imageTags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

#imageTags .imageTag {
  background: #b3b3b3;
  color: white;
  border-radius: 24px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 6px;
  font-weight: bold;
  margin-right: 12px;

  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 6em;
  height: 1.6em;
  display: flex;
  align-items: center;
  padding-top: 0;
}

#imageTags::-webkit-scrollbar {
  width: 0 !important;
}

#colorsP,
#tagsP {
  margin-right: 10px;
  font-weight: bold;
  margin-left: 5px;
}

#imageColors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  margin-top: 10px;
}

#imageColors .colors {
  color: white;
  border-radius: 24px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  margin-right: 12px;
}
