#controlsBlock {
  animation-name: slideUp;
  animation-duration: 250ms;

  position: fixed;
  bottom: 14px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: -2;
}

ion-fab {
  z-index: -1;
}

#penWidthDetail {
  margin-right: 12px;
  transition: width 200ms;
}

#penWidth {
  position: fixed;
  right: 0;
  top: 6em;

  --pen-setheight: 50px;
  height: var(--pen-setheight);
  background: white;
  padding: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.37);
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  transition: --pen-setheight 200ms;
}

#penWidth:hover {
  --pen-setheight: 78px;
}

.aiPopover.sc-ion-popover-md-h {
  --width: 400px;
}

.openPen {
  --pen-setheight: 78px !important;
}

#controlsBlock #oneSvg svg {
  width: 30px;
  height: 30px;
}

#aiButton {
  z-index: -1;
  position: fixed;
  background: #1976d2;
  left: 20px;
  bottom: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 19px;
  width: 4.1em;
  text-transform: lowercase;
  border-radius: 24px;
  color: white;
  padding-left: 0.8em;
  padding-right: 0.9em;
  padding-top: 8px;
  padding-bottom: 8px;
  pointer-events: all;
  box-shadow: 0px 0px 14px 4px var(--ion-color-primary);
}

@media (max-width: 600px) {
  #aiButton {
    display: none;
  }
}

#controlsBlock #buttonBlock {
  box-shadow: 0px 0px 14px 0px rgba(173, 173, 173, 1);
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 14em;
  border-radius: 40px;
}

#controlsBlock #buttonBlock button {
  background: none;
  border: none;
  font-size: 1.8em;
  outline: none;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#fileLabel {
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#colorsBlock {
  position: fixed;
  bottom: 14px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

#colorsBlock #colorInternalBlock {
  box-shadow: 0px 0px 14px 0px rgba(173, 173, 173, 1);
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 16em;
  align-items: center;
  border-radius: 40px;

  animation-name: slideUp;
  animation-duration: 250ms;
}

#colorInternalBlock #visionColorButton {
  display: flex;
  color: #1976d2;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 10px;
}

#colorInternalBlock #redButton {
  background: red;
}

#colorInternalBlock #blueButton {
  background: blue;
}

#colorInternalBlock #blackButton {
  background: black;
}

#colorInternalBlock #greenButton {
  background: green;
}

#customColor {
  background: #bbbbbbbf;
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  padding: 5px;
}

#colorInternalBlock #closeButton {
  background: none;
  border: none;
  font-size: 1.4em;
  height: 1.6em;
}

#colorInternalBlock button {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  border: solid 2px black;
  outline: none;
}

#saveButtonDiv {
  position: fixed;
  top: 82px;
  left: 16px;
  z-index: -1;
}

#saveButton {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.4em;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deskShareButton {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.4em;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

#liveButton {
  background: #7044ff;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.4em;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

#tasksButton {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.4em;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 152px;
}

#allImagesButton {
  position: fixed;
  left: 16px;
  top: 16px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 14px 4px rgba(25, 118, 210, 0.51);
  font-size: 1.4em;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brushIcon {
  animation-name: spin;
  animation-duration: 300ms;
}

#imagesHeaderEl ion-toolbar {
  --background: #ffffff70;
  backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
  #controlsBlock #buttonBlock {
    width: 16em;
  }

  #colorsBlock #colorInternalBlock {
    width: 18em;
  }
}

@media (min-width: 1200px) {
  .extImageModal {
    --width: 56em !important;
  }
}

@media (horizontal-viewport-segments: 2) {
  #controlsBlock, #colorsBlock {
    bottom: 6px !important;

    top: initial;
    display: flex;
    width: 4em;
    height: 4em;
    align-items: center;
  
    width: 48%;
    right: 0;
    position: absolute;
    left: initial;
    z-index: 9998;
  }

  #allImagesButton {
    bottom: 7em;
    top: initial;
    left: initial;
  }

  #saveButtonDiv {
    left: initial;
    right: 16px;
    bottom: 16px;
    top: initial;
    z-index: 9999;
  }
}

@media (screen-spanning: single-fold-vertical) {
  #controlsBlock, #colorsBlock {
    bottom: 6px !important;

    top: initial;
    display: flex;
    width: 4em;
    height: 4em;
    align-items: center;
  
    width: 48%;
    right: 0;
    position: absolute;
    left: initial;
    z-index: 9998;
  }

  #allImagesButton {
    bottom: 7em;
    top: initial;
    left: initial;
  }

  #saveButtonDiv {
    left: initial;
    right: 16px;
    bottom: 16px;
    top: initial;
    z-index: 9999;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes openPen {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
