#gridCanvas {
  pointer-events: none;
  z-index: 9999;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  touch-action: none;
}

#copyTextButton {
  z-index: 9999;
  position: fixed;
  bottom: 8px;
  right: 20px;

  background: black;
  color: white;
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
  box-shadow: 0px -3px 14px 0px rgba(173, 173, 173, 1);
  height: 34px;
  width: 96px;

  display: flex;
  justify-content: center;
  align-items: center;
}
