#settingsButton {
  font-size: 18px;
}

#settingsBlock {
  position: fixed;
  top: 12px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  border-radius: 24px;
  min-width: 140px;

}

.login-button {
  border-radius: 24px;
}

app-home {
  background: white;
}

#fileNameDiv {
  z-index: 9999;
  position: fixed;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 500px) {
  #fileNameDiv {
    display: none;
  }
}

#fileNameDiv span {
  background: #1976d25e;
  color: white;
  font-size: 18px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 22px;
  margin-top: 10px;
  backdrop-filter: blur(10px);
  animation-name: slidedown;
  animation-duration: 300ms;
}

@keyframes slidedown {
  from {
    opacity: 0.6;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(min-width: 1200px) {
  .imagesModal {
    --width: 56em !important;
  }
}
