#searchHeader {
  font-weight: bold;
}

#sendInviteBlock {
  display: flex;
  animation: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff6e;
  backdrop-filter: blur(10px);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

#contactsList {
  margin-bottom: 60px;
}